*{box-sizing:border-box;}
body{
background:#204060;
font-family:arial;
}
header{display:block;
	color:black;
	font-family:Arial;
	text-shadow:2px 2px 2px darkGrey;
	text-align:center;
	vertical-align:center;
	background-image:url("warming.jpg");
	background-size:100%;
	background-repeat:no-repeat;
	padding:15px;
	height:auto;
	margin:auto;
	}

/*.gridBox{
display:grid;
grid-template:
}

#132020; old color greenish*/
